@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
body{
    font-family: 'Montserrat', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.top{
    height: 1024px;
    padding-top: 217px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 0.5px solid #000915;
}

.top__content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 120px;
}

.top__zagolovok{
    max-width: 788px;
    max-height: 125px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 32px;
}

.top__text{
    max-width: 481px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 44px;
}

.po{
    font-weight: 900;
}

.form__button {
    text-decoration: none;
    width: 234px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .4s;
    animation: myAnim 1.5s ease 0.5s 2 alternate forwards;
    }
    .form__button:hover{
        color: #000000;
    }
    .rt{
        background-color: #000915;
    }
    
    .rtycont{
        padding-top: 128px;
        padding-bottom: 132px;
        display: flex;
        gap: 32px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .rtycont__igry{
        border-radius: 16px;
        text-decoration: none;
        width: 379px;
        height: 300px;
        font-style: normal;
        font-weight: 600;
        display: flex;
        align-items: end;
        color: #FFF;
        font-size: 24px;
        line-height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all .3s;
    }
    .rtycont__igry:hover{
        transform: scale(1.09);
    }

    .rtycont__igry1{
        background-image: url(img/game1.jpg);
    }

    .rtycont__igry2{
        background-image: url(img/game2.jpg);
    }

    .rtycont__igry3{
        background-image: url(img/game3.jpg);
    }

    .rtet{
        text-decoration: none;
        color: #FFFFFF;
        padding-left: 32px;
        margin-bottom: 32px;
        transition: .3s;
    }
    .rtet:hover{
        color: red;
    }
    /* Телефонное разрешение 768px ---------------- */

    @media (max-width: 768px) {
        .center {
            padding-left: 16px;
            padding-right: 16px;
        }
        .top{
            padding-top: 238px;
            height: 735px;
        }
        .top__zagolovok{
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .top__text{
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
            padding-bottom: 32px;
        }
        .top__content{
            padding-left: 0;
            align-items: center;
        }
        .rtycont{
            padding-bottom: 127px;
        }
    }